header {
  background-color: $white;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0;
    max-width: 1200px;
    img {
      width: 164px;
      height: 74px;
      object-fit: contain;
    }
    button {
      margin-top: 0;
    }
  }
}
